<nav class="menu">
  <div class="top_menu">
    <a routerLink="/" class="logo">
      <img src="./assets/img/logo.png" alt="" />
      <span>Интернет-Магазин</span>
    </a>
    <div class="link">
      <a routerLink="/login" routerLinkActive="active">Вход</a>
      <a routerLink="/registration" routerLinkActive="active">Регистрация</a>
    </div>
  </div>
  <div class="list_menu">
    <ul>
      <li>
        <a routerLink="">Магазин</a>
      </li>
      <li>
        <a [routerLink]="['/category', 'all']">Все категории</a>
      </li>
      <li>
        <a [routerLink]="['/category', 'meal']">Продукты питания</a>
      </li>
      <li>
        <a routerLink="/category">Алкоголь</a>
      </li>
      <li>
        <a routerLink="/category">Косметика</a>
      </li>
      <li>
        <a routerLink="/category">Новогодние товары</a>
      </li>
      <li>
        <a routerLink="/category">Информация</a>
      </li>
      <li>
        <a routerLink="/promotion">Акции</a>
      </li>
    </ul>
  </div>
</nav>
