<div class="footer_content">
    <div class="wrapper">
        <div class="row">
            <span class="slovo">ГАСТРО МАРКЕТ</span>
        </div>
        <div class="row">
            <div class="block">
                <a href="tel:+380635610633" class="tel_block">+380635610633</a>
            </div>
            <div class="block">
                <span class="work_time">Магазин работает с 9 до 21 <br>Без выходных</span>
            </div>
            <div class="block">
                <span class="location">ул. Сечевых Стрельцов, 79 Киев, Украина</span>
            </div>
            <div class="block">
                <a href="mailto:info@some.com.ua" class="location">info@some.com.ua</a>
            </div>
        </div>
    </div>
</div>
<div class="bottom_footer">
    <div class="wrapper">
        <div class="row link">
            <a routerLink="">Доставка и оплата</a>
            <a routerLink="">О магазине</a>
            <a routerLink="">Контакты</a>
        </div>
        <div class="row">
            <span class="copyright">© 2014-2019 Интернет-магазин</span>
        </div>
    </div>
</div>
